html {
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background: #fff;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.main {
    padding-bottom: 20px; /* This is the height of the footer */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    background: #808080;
    color: #fff;
    border-top: 1px solid #00D494;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 65em;
    overflow: hidden;
}

/* Helper class */
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
