//Main Styles - Try to keep the order of the elements as they appear in the HTML Mark up. Don't nest too many items to make them tighly coupled

//1. Header
header[role="banner"] {
    display:block;
    width: 100%;
    background: #dedede;
    padding: 30px 0;
}

main {
   display: block;
   width: 100%; 
}

#content-wrapper {
    padding-bottom : 8em; //This gives area above the footer
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 65em;
    overflow: hidden;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    background: #808080;
    color: #fff;
    border-top: 1px solid #00D494;
}

#content {
    display: block;
    width: 70%;
}