//Main Styles - Try to keep the order of the elements as they appear in the HTML Mark up. Don't nest too many items to make them tighly coupled


//1. Header
header[role="banner"] {
    display: block;
    width: 100%;
    background: #dedede;
    padding: 20px 0;
    text-align: center;
    position: relative;

    .logo {
        display: inline-block;
        padding: 10px;
        margin: 0;
        font-size: 16px;
        color: #fff;
        background: #000;
        font-style: normal;
        text-transform: uppercase;
    }
     
    .mobile-menu {
        display: inline-block;
        background: #808080;
        color: #fff;
        padding: 5px 10px;
        font-size: 14px;
        text-transform: uppercase;
        position: absolute;
        top: 25px;
        right: 10px;


        @media all and (min-width: 768px) {
            display: none;
        }
    }

    nav {
        display: none;

        @media all and (min-width: 768px) {
            display: block !important;

            ul {
                li {
                    display: inline-block;

                    a {
                        display: block;
                        padding: 10px;
                        text-align: center;
                        -moz-transition: color .2s linear;
                        -o-transition: color .2s linear;
                        -webkit-transition: color .2s linear;
                        transition: color .2s linear;
                        text-transform: uppercase;
                        font-weight: bold;

                        &:hover, &:focus, &:active {
                            color: #b200ff;
                        }
                    }
                }
            }
        }
    }
}

//2. Main
main {
    display: block;
    width: 100%;
}

//2a. ContentWrapper
#content-wrapper {
    padding-bottom: 8em; //This gives area above the footer
}

//3. Content Area
#content {
    width: 100%;
    display: block;
    text-align: center;
    background: #a4a4a4;
    padding: 1em 0;

    @media all and (min-width: 768px){
        width: $content-width;
        display: inline-block;
        float: left;
    }
    p {
        color: #fff;
    }
}


 
//4. Aside / Sidebar Area
aside {
    width: 100%;
    display: block;
    text-align: center;
    background:#8e8e8e;
    padding: 1em 0;

    @media all and (min-width: 768px){
        width: $sidebar-width;
        display: inline-block;
        float: left;
    }

    p{
        color: #fff;
    }
}

//5. Footer
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    width: 100%;
    background: #808080;
    color: #fff;
    border-top: 1px solid #00D494;

    p{
        text-align: center;
    }
}


